{% extends "base.html" %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <h1 class="text-center my-5">Fictional Users Generator</h1>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-lg-5 col-md-8 col-sm-8 white-div shadow-light">

                <button id="request-info" class="my-4 w-100 button-main">Generate fictional user</button>
                <div class="w-100">
                    <p><b>Name: </b><span id="user-name"></span></p>
                    <p><b>Address: </b><span id="user-address"></span></p>
                    <p><b>Phone: </b><span id="phone-number"></span></p>
                    <p><b>Job: </b><span id="user-job"></span></p>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center my-5">
            <div class="col-lg-3 col-sm-6 d-flex justify-content-center">
            <a type="button" href="{{ url_for('generate') }}" class="button-dark">
                Generate multiple users
            </a>
            </div>

        </div>
    </div>
</section>


<section>


</section>



<script>
    var request_button = document.getElementById('request-info')
    var user_name = document.getElementById('user-name')
    var user_address = document.getElementById('user-address')
    var user_phone = document.getElementById('phone-number')
    var user_job = document.getElementById('user-job')

    request_button.addEventListener('click', request_info); 

    function request_info() {

        fetch("{{ url_for('fake_info') }}")
        .then(response => response.json()).then(data => {
            if (data.name){
                user_name.innerHTML = data.name;
            }
            if (data.address) {
                user_address.innerHTML = data.address;
            }
            if (data.phone) {
                user_phone.innerHTML = data.phone;
            }
            if (data.job) {
                user_job.innerHTML = data.job;
            }
            if (data.msg) {
                error_msg.innerHTML = data.msg
            }
            
        })
    }

    
</script>

{% endblock %}